tensorflow
yfinance
plotly
protobuf==3.20.1
streamlit
vaderSentiment
sklearn
scikit-learn
urlopen
bs4
inotify
req
absl-py
altair
appdirs
cachetools
click
commonmark
contourpy
cryptography
cycler
Faker
favicon
flatbuffers
fonttools
frozendict
gast
grpcio
grpcio-tools
joblib
kiwisolver
oauthlib
Pillow
pyarrow
pyasn1
pytz
requests
requests-oauthlib
rich
rsa
watchdog
wrapt
zipp
