absl-py==1.3.0
altair
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
attrs
backcall
beautifulsoup4
bleach
blinker==1.4
Bottleneck
brotlipy==0.7.0
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
contourpy==1.0.6
cryptography==38.0.4
cycler==0.11.0
debugpy
decorator
defusedxml
entrypoints
executing
Faker==15.3.4
fastjsonschema
favicon==0.7.0
flatbuffers==22.12.6
flit_core
fonttools==4.38.0
frozendict==2.3.4
future
gast==0.4.0
gitdb
GitPython
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
htbuilder==0.6.1
html5lib==1.1
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.2.0
jsonschema
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras==2.11.0
kiwisolver==1.4.4
libclang==14.0.6
lxml==4.9.2
Markdown==3.4.1
markdownlit==0.0.5
MarkupSafe
matplotlib==3.6.2
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
more-itertools==9.0.0
multitasking==0.0.11
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy==1.24.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging
pandas
pandocfilters
parso
pickleshare
Pillow==9.3.0
plotly==5.11.0
prometheus-client
prompt-toolkit
protobuf==3.19.6
psutil
pure-eval
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pydeck
Pygments
pymdown-extensions==9.9
Pympler
pyOpenSSL
pyparsing==3.0.9
pyrsistent
PySocks
python-dateutil
pytz
PyYAML==6.0
pyzmq
requests
requests-oauthlib==1.3.1
rich
rsa==4.9
scikit-learn==1.2.0
scipy==1.9.3
semver
Send2Trash
six
smmap
sniffio
soupsieve
st-annotated-text==3.0.0
stack-data
streamlit==1.16.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.4
streamlit-faker==0.0.2
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.1.1
terminado
threadpoolctl==3.1.0
tinycss2
toml
toolz
tornado
traitlets
typing_extensions
tzlocal
urllib3
vaderSentiment==3.3.2
validators
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.2.2
widgetsnbextension
win-inet-pton
wincertstore==0.2
wrapt==1.14.1
yfinance==0.2.3
zipp
