tensorflow
yfinance
plotly
protobuf==3.20.1
streamlit
vaderSentiment
scikit-learn
urlopen
bs4
inotify
req
urllib3
requests
requests-oauthlib
beautifulsoup4
contourpy
Faker
fastjsonschema
favicon
fonttools
grpcio-tools
htbuilder
ipykernel
ipython
ipython-genutils
jedi
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
kiwisolver
markdownlit
MarkupSafe
matplotlib
mistune
more-itertools
nbclassic
nbclient
nbconvert
nbformat
notebook
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
psutil
pure-eval
pymdown-extensions
pyparsing
pywin32
pywinpty
pyzmq
Send2Trash
sniffio
stack-data
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
terminado
tinycss2
traitlets
wcwidth
websocket-client
wincertstore







